{{ define "main" }}

<main class="w-screen">
    <div class="md:py-12 p-6 md:px-0 dark:bg-gray-950">
        <section class="max-w-screen-lg mx-auto">
            <h2 class="text-2xl md:text-5xl md:ml-56 text-white capitalize">
                {{ .Title }}
            </h2>
        </section>
    </div>
    <section class="max-w-screen-lg mx-auto md:py-12 p-6">
        <ol>
            {{ range .Site.Data.Jobs.items }}
            <li class="" x-data="{ open: false }">
                <article class="relative pb-10 ps-4
                                before:content-[''] before:border-s before:border-white before:dark:border-gray-700 before:block before:absolute before:top-0 before:bottom-0 before:left-0
                                after:content-[''] after:w-3 after:h-3 after:bg-gray-200 after:rounded-full after:block after:border after:border-white after:dark:border-gray-900 after:dark:bg-gray-700 after:absolute after:top-2 after:-start-1.5
                                md:ml-48 md:pl-10
                    ">
                    <time class="text-center text-sm font-normal leading-none text-gray-400 mb-1
                                md:max-w-32 md:absolute md:-left-10 md:-translate-x-full md:leading-7
                                dark:text-gray-500">
                        {{ $parts := split .Date " → " }}
                        <span class="inline-block md:block">{{ index $parts 0 }}</span>
                        <span class="inline-block md:hidden"> → </span>
                        <span class="inline-block md:block">{{ index $parts 1 }}</span>
                    </time>
                    <div class="flex flex-grow justify-between gap-1">
                        <div>
                            <h3 class="text-lg md:text-2xl font-semibold text-gray-900 dark:text-white">{{.Name}}</h3>
                            <h4 class="text-gray-700 dark:text-gray-400">{{ .Position }}</h4>
                        </div>
                        {{ partial "btn-expand.html" }}
                    </div>
                    <ul x-show="open" x-transition
                        class="p-2 max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                        <li>At least 10 characters (and up to 100 characters)</li>
                        <li>At least one lowercase character</li>
                        <li>Inclusion of at least one special character, e.g., ! @ # ?</li>
                    </ul>
                </article>
            </li>
            {{ end }}
        </ol>
    </section>
</main>

{{ end }}