{{ define "main" }}
<main class="grid gap-6 grid-flow-row p-6 content-start">
    <article class="grid text-center items-center gap-2 content-start py-8">

        {{ $heroOne := resources.GetMatch "images/global/avatar.jpg" }}

        {{ $tiny := ($heroOne.Fit "65x65 q100") }}
        {{ $small := ($heroOne.Fit "80x80 q80") }}
        {{ $medium := ($heroOne.Fit "1024x280 q80") }}
        {{ $large := ($heroOne.Fit "1374x1000 q80") }}

        <img srcset="
            {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
            {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
            {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
            {{- with $large.RelPermalink -}}, {{.}} 1374w{{- end -}}" src="{{ $heroOne.RelPermalink }}"
            alt="Avatar Autor Image"
            class="rounded-full mx-auto w-20 h-20" 
            loading="lazy" />

        <h1 class="font-semibold text-xl text-gray-950/75 dark:text-sky-50">Erich González</h1>
        <p class="text-slate-400"> Full-Stack JavaScript Developer <br>  Front-End Specialist </p>
    </article>

    <section class="grid items-center gap-4 grid-cols-2">
        <div class="flex items-center grid-cols-2 gap-2 p-2 bg-sky-100 dark:bg-slate-800 rounded-md">
            <div class="flex-none">
                <span class="top-0 float-left text-slate-400">+</span>
                <span class="text-4xl text-slate-950/75 dark:text-sky-50">10</span>
            </div>
            <p class="grow text-slate-400 text-xs">
                <span>Year</span>
                <span>Experience</span>
            </p>
        </div>
        <div class="flex items-center grid-cols-2 gap-2 p-2 bg-sky-100 dark:bg-slate-800 rounded-md">
            <div class="flex-none dark:text-sky-50">
                <span class="top-0 float-left text-slate-400">+</span>
                <span class="text-4xl text-slate-950/75 dark:text-sky-50">25</span>
            </div>
            <p class="grow text-slate-400 text-xs">
                <span>Projects</span>
                <span>Completed</span>
            </p>
        </div>
    </section>
    
    <section class="grid items-center grid-cols-4 gap-4">
        <div class="dark:bg-gray-800 rounded-md h-6"></div>
        <div class="dark:bg-gray-800 rounded-md h-6"></div>
        <div class="dark:bg-gray-800 rounded-md h-6"></div>
        <div class="dark:bg-gray-800 rounded-md h-6"></div>
    </section>
</main>
{{ end }}
